/* brower reset */

*{
    margin: 2;
    padding: 1;
}


body{
 font-family: cursive;
background-color: yellow(255, 255, 255, 0.648) (136, 127, 255, 0.27);
color: rgba(30, 255, 0, 0.975);
} 


header, footer { color: rgb(240, 248, 255);
    background-color: blueviolet;
    padding: 1rem;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.927);
    font-style: italic;
}

main {
padding: 1rem;
margin: auto;

}

table{
    width: 50;
    margin: .5cm;
    border-collapse: collapse;
}
td, th{
    border: 2px solid black ;
    padding: 10px;
    text-align: left;
    
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}


caption{
    font-size: 1cm;
    font-weight: bold;
    padding: .5rem;
}

form{
background-color: purple;
padding: 1cm ;
margin: auto;
font-size: 1rem;
max-width: 500px ;
}
label{
    font-weight: bold;
    display: inline;
    margin: 10px;
}


/* padding is for the inside */
/*a dot means it is a user defined class. We use in in the html with class */
/* when dealing with padding don't get into TRBL meaning the Top, Right, Bottom, Left / or Horizontal & Vertical will copy; */